<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="En hjemmeside til at beregne antal normalsider i en tekst." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="normalside, normalside beregner, normalside omfang, normalside tegn, antal tegn normalside, normalside folkeskolen, normalside gymnasiet, normalside anslag, normalside antal tegn, normalside antal anslag, beregn normalside, beregn normalside omfang, beregn normalside tegn, beregn normalside antal tegn" />
    <title>Normalside Beregner</title>
  </head>
  <body>
    <slot />
  </body>
</html>
