<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="En hjemmeside til at beregne antal normalsider i en tekst."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="normalside, normalside beregner, normalside omfang, normalside tegn, antal tegn normalside, normalside folkeskolen, normalside gymnasiet, normalside anslag, normalside antal tegn, normalside antal anslag, beregn normalside, beregn normalside omfang, beregn normalside tegn, beregn normalside antal tegn"
    />
    <link rel="canonical" href="https://normalsider.mikkel-t.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://normalsider.mikkel-t.com" />
    <meta property="og:title" content="Normalside Beregner" />
    <meta
      property="og:description"
      content="En hjemmeside til at beregne antal normalsider i en tekst."
    />
    <meta property="og:locale" content="da_DK" />
    <meta property="og:site_name" content="Normalside Beregner" />
    <title>Normalside Beregner</title>
  </head>
  <body>
    <slot />
  </body>
</html>
